<%= render('users/user_card', user: @user) %>
<%= link_to new_user_post_path() do %>
    <button>New Post</button>
  <% end %>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-and-comments">
      <%= link_to user_post_path(@user, post) do %>
        <div class="post">
          <h4>Post #<%= post.id %></h4>
          <p><%= post.text %></p>
        </div>
      <% end %>
      <% if post.comments.length.positive? %>
        <div class="comments">
            <% post.recent_comments.each do |comment| %>
              <p><%= comment.text.truncate(80, separator: ' ' ) %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <button>Pagination</button>
</div>