<div class="posts-container post-and-comments">
  <div class="full-post">
    <h4>Post #<%= @post.id %> by <%= @user.name %></h4>
    <p class='post-counters'>Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
    <p class='post-text'><%= @post.text %></p>
    <%= form_with model: Like.new, url: user_post_likes_path(@user, @post) do |form| %>
        <% form.submit :Like %>
      <% end %>
  </div>
  <%= link_to new_user_post_comment_path(@user, @post) do %>
    <button>New Comment</button>
  <% end %>
  <% if @post.comments.length.positive? %>
    <div class="comments">
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
    </div>
  <% end %>

</div>